/ch2/target
/ch2/Cargo.lock
/ch2/Cargo.tolm

/ch3/target
/ch3/Cargo.lock
/ch3/Cargo.tolm

/ch4/target
/ch4/Cargo.lock
/ch4/Cargo.tolm

/ch5/target
/ch5/Cargo.lock
/ch5/Cargo.tolm

/ch6/target
/ch6/Cargo.lock
/ch6/Cargo.tolm

/ch7/target
/ch7/Cargo.lock
/ch7/Cargo.tolm
ch8/phrases/Cargo.toml
.vscode/launch.json
ch8/phrases/target/.rustc_info.json
ch8/phrases/target/CACHEDIR.TAG
ch8/phrases/target/debug/.cargo-lock
ch8/phrases/target/debug/libphrases.d
ch8/phrases/target/debug/libphrases.rlib
ch8/phrases/target/debug/phrases.d
ch8/phrases/target/debug/phrases.exe
ch8/phrases/target/debug/phrases.pdb
ch8/phrases/target/debug/.fingerprint/phrases-01a199649eb372e0/bin-phrases
ch8/phrases/target/debug/.fingerprint/phrases-01a199649eb372e0/bin-phrases.json
ch8/phrases/target/debug/.fingerprint/phrases-01a199649eb372e0/dep-bin-phrases
ch8/phrases/target/debug/.fingerprint/phrases-01a199649eb372e0/invoked.timestamp
ch8/phrases/target/debug/.fingerprint/phrases-1d577ab58e1cdac4/dep-lib-phrases
ch8/phrases/target/debug/.fingerprint/phrases-1d577ab58e1cdac4/invoked.timestamp
ch8/phrases/target/debug/.fingerprint/phrases-1d577ab58e1cdac4/lib-phrases
ch8/phrases/target/debug/.fingerprint/phrases-1d577ab58e1cdac4/lib-phrases.json
ch8/phrases/target/debug/.fingerprint/phrases-2f6f567b585224fa/dep-test-lib-phrases
ch8/phrases/target/debug/.fingerprint/phrases-2f6f567b585224fa/invoked.timestamp
ch8/phrases/target/debug/.fingerprint/phrases-2f6f567b585224fa/test-lib-phrases
ch8/phrases/target/debug/.fingerprint/phrases-2f6f567b585224fa/test-lib-phrases.json
ch8/phrases/target/debug/.fingerprint/phrases-2ff8b17cd73b9cd1/dep-lib-phrases
ch8/phrases/target/debug/.fingerprint/phrases-2ff8b17cd73b9cd1/invoked.timestamp
ch8/phrases/target/debug/.fingerprint/phrases-2ff8b17cd73b9cd1/lib-phrases
ch8/phrases/target/debug/.fingerprint/phrases-2ff8b17cd73b9cd1/lib-phrases.json
ch8/phrases/target/debug/.fingerprint/phrases-654e9b9cfb65fbea/bin-phrases
ch8/phrases/target/debug/.fingerprint/phrases-654e9b9cfb65fbea/bin-phrases.json
ch8/phrases/target/debug/.fingerprint/phrases-654e9b9cfb65fbea/dep-bin-phrases
ch8/phrases/target/debug/.fingerprint/phrases-654e9b9cfb65fbea/invoked.timestamp
ch8/phrases/target/debug/.fingerprint/phrases-6bf79892d790e127/dep-test-bin-phrases
ch8/phrases/target/debug/.fingerprint/phrases-6bf79892d790e127/invoked.timestamp
ch8/phrases/target/debug/.fingerprint/phrases-6bf79892d790e127/test-bin-phrases
ch8/phrases/target/debug/.fingerprint/phrases-6bf79892d790e127/test-bin-phrases.json
ch8/phrases/target/debug/deps/libphrases-1d577ab58e1cdac4.rlib
ch8/phrases/target/debug/deps/libphrases-1d577ab58e1cdac4.rmeta
ch8/phrases/target/debug/deps/libphrases-2f6f567b585224fa.rmeta
ch8/phrases/target/debug/deps/libphrases-2ff8b17cd73b9cd1.rmeta
ch8/phrases/target/debug/deps/libphrases-6bf79892d790e127.rmeta
ch8/phrases/target/debug/deps/libphrases-654e9b9cfb65fbea.rmeta
ch8/phrases/target/debug/deps/phrases-1d577ab58e1cdac4.d
ch8/phrases/target/debug/deps/phrases-2f6f567b585224fa.d
ch8/phrases/target/debug/deps/phrases-2ff8b17cd73b9cd1.d
ch8/phrases/target/debug/deps/phrases-6bf79892d790e127.d
ch8/phrases/target/debug/deps/phrases-654e9b9cfb65fbea.d
ch8/phrases/target/debug/deps/phrases.d
ch8/phrases/target/debug/deps/phrases.exe
ch8/phrases/target/debug/deps/phrases.pdb
ch8/phrases/target/debug/incremental/phrases-12ts7ra7cezf1/s-gal6us5ayg-8ejp8m.lock
ch8/phrases/target/debug/incremental/phrases-12ts7ra7cezf1/s-gal6us5ayg-8ejp8m-3qzmr62s13dqx/dep-graph.bin
ch8/phrases/target/debug/incremental/phrases-12ts7ra7cezf1/s-gal6us5ayg-8ejp8m-3qzmr62s13dqx/query-cache.bin
ch8/phrases/target/debug/incremental/phrases-12ts7ra7cezf1/s-gal6us5ayg-8ejp8m-3qzmr62s13dqx/work-products.bin
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p.lock
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/1bujbomviecoxj7i.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/1ej83kffw581kw5z.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/1qsbvzsjc8n5n9no.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/1urvfy4vho5720b0.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/1yfi71arld3icnri.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/2i7wx9nblurvo009.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/2kygn3xo432an1oz.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/3cnr5plo3svcggc0.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/3edwbekh0wlbgm3w.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/3gplolmm4yaaoasf.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/3hkq7cyo2x9qc7cj.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/3q9wo80e593iblzh.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/4b88qtmsqgmtap76.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/4fjr2ku2q16yl6gr.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/4lrjl7nfwkz7mn0i.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/4t3t80prvqnegc8r.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/4ultwqucyv6ivk62.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/5aby6vyijevjv63a.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/28vzrkxf5fiqht14.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/56yaf2sturs0v32z.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/575lg1f6at32hl6j.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/691cmpo8kkxlej4.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/3191dqbxjirb1fer.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/5556yf8qlb89mh2m.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/dep-graph.bin
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/g28toiauwe4x805.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/lkbugidw633zfob.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/ohulbiqoi0j1ce6.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/oum6mfaq64ixia8.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/query-cache.bin
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/rqko170glu8uh98.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/ta92smf9q49mkhq.o
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/work-products.bin
ch8/phrases/target/debug/incremental/phrases-1drdu4cu6alds/s-gal6v4tsi5-whn2p-3ji4mmoyg123o/yxf4hrudgl5je19.o
ch8/phrases/target/debug/incremental/phrases-2ijvxg0ig0yvf/s-gal6uv8ifi-grn94g.lock
ch8/phrases/target/debug/incremental/phrases-2ijvxg0ig0yvf/s-gal6uv8ifi-grn94g-1hrgt2o19kt97/dep-graph.bin
ch8/phrases/target/debug/incremental/phrases-2ijvxg0ig0yvf/s-gal6uv8ifi-grn94g-1hrgt2o19kt97/query-cache.bin
ch8/phrases/target/debug/incremental/phrases-2ijvxg0ig0yvf/s-gal6uv8ifi-grn94g-1hrgt2o19kt97/work-products.bin
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740.lock
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/1cndknzh1kxlxi7w.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/1omw2pxig6h984u9.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/2er8qir665zpy86h.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/2uijdussgjfkqcii.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/3e8myvqv1xxt0k4h.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/3g9o7b2qstowywex.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/4cfa0kfe4dj4bgh2.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/4vo3ire5vnbiajt1.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/5at05qa8tsbcw1sb.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/23xe7kwegyccfxld.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/47dmtaslkqqh572d.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/590q9gxlvdhmfdv.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/2091lf1lr2xhrk5c.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/c4o2vbmlik76y7t.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/dep-graph.bin
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/itous384dmxqo04.o
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/query-cache.bin
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/work-products.bin
ch8/phrases/target/debug/incremental/phrases-32ockblwkeko6/s-gal6v68t2i-1t12740-2yi4fmihbx4z9/z0q1y3391dev18m.o
ch8/phrases/target/debug/incremental/phrases-3inyp63utvqkm/s-gal6uv8qv1-zleecv.lock
ch8/phrases/target/debug/incremental/phrases-3inyp63utvqkm/s-gal6uv8qv1-zleecv-12zqp14nsvjxc/dep-graph.bin
ch8/phrases/target/debug/incremental/phrases-3inyp63utvqkm/s-gal6uv8qv1-zleecv-12zqp14nsvjxc/query-cache.bin
ch8/phrases/target/debug/incremental/phrases-3inyp63utvqkm/s-gal6uv8qv1-zleecv-12zqp14nsvjxc/work-products.bin
ch8/phrases/target/debug/incremental/phrases-3jlrxepqw4i91/s-gal6us5iy8-bpljur.lock
ch8/phrases/target/debug/incremental/phrases-3jlrxepqw4i91/s-gal6us5iy8-bpljur-315lqquitgvbx/dep-graph.bin
ch8/phrases/target/debug/incremental/phrases-3jlrxepqw4i91/s-gal6us5iy8-bpljur-315lqquitgvbx/query-cache.bin
ch8/phrases/target/debug/incremental/phrases-3jlrxepqw4i91/s-gal6us5iy8-bpljur-315lqquitgvbx/work-products.bin
ch8/phrases/Cargo.lock
